{% extends "core/base.html" %}

{% block title%}Вопрос №{{ question.id }}{% endblock %}

{% block content%}
    Вопрос</br>
    {{ question.category }}
    {{ question.pub_date }}
    {{ question.autor }}</br></br>
    {{ question.question_text }}</br></br>
    
    Ответы</br>
    <div id="answers">
    </div>

    <a href={% url 'core:answer:create' question.pk %}>Ответить</a>

    <script>
        function load_answers() {
            $('#answers').load('{% url "core:question:question_answers" pk=question.pk %}');
        }
        window.setInterval(load_answers, 1000)
    </script>
{% endblock %}
